# ASSIGNMENT NO:- 2 (Please! Do Honestly)

In [ ]:
Q-1) Lists use _____ to access values 

Choose only ONE best answer.

A  values

B  indexes

C  key values

D  keys

In [ ]:
Q-2) Do lists preserve the order of the elements they contain?

Choose only ONE best answer.

A  Yes

B  No

In [ ]:
Q-3)Consider this list, what will be the output of the following:

li=[1,2,3]
print(li[3])

Q-4)What will be the output after executing the following codes? Do not take the help of compiler
x=(0,8,9,67,45,9,0)
y=slice(1,-2)
x[y]

In [ ]:
Q-5) Consider this list, what will be the output of the following:

li=[1,2,3,4,3,2,1]
print(li[-3])
Choose only ONE best answer.

A  4

B  3

C  2

D  1

Q-6)The method used to increase the length of the list by number of elements in its argument.
 a)add ()
 b)insert ()
 c)extend ()
 d)pop ()

In [ ]:
Q-7)Consider this list, what will be the output of the following:

li=[1,2,3,4,3,2,1]
print(li[3:4])
Choose only ONE best answer.

A  1

B  2

C  3

D  4

Q-8) ADD two sets
x={1,7,5,4}
y={8,9,"esh"}

Q-9) Find out which of the following code does not work on a tuple
a) x+y
b) sum(x)
c) y[3] = 45
d) len(y)

Q-10) Which of the following is not a valid syntax for creating a Set ‘M’ in Python?
 a)M = set ([11,12,12,13,14,15])
 b)M = {11,12,13,14}
 c)M = set ([11,12],[13,14],[14,15])
 d)M = set ((11,12,13,14))

Q-11)Which of the following command returns the set of all elements from both sets, a and b
a={1,4,6,7,6,3}
b={5,8,9,0,5,3,4}

Q-12)For dictionary d = {"plum ":0.66, "pears ":1.25,"oranges ":0.50, "apple":0.75 }, 
write a code to correctly update the price of oranges to 0.90?

Q-13)What will be the output,do yourself without taking the help of compiler? 
c={}
c[1]=12
c["1"]=12
c[1]+=1

Q-14)Which of the following is not possible in sequence datatypes?
 a)Create a tuple inside a set
 b)Create a list inside a set
 c)Create a list inside a tuple
 d)Create a set inside a list

Q-15)Variable ‘a’ is defined as
       a = "gOOd moRning"
 write a code to convert ‘a’ from ‘gOOd moRning’ to ‘Good Morning’ is:-

Q-16) Create a list called “Stationery” which encompasses all the below variables

      Product = ['Pencil', 'Pen', 'Eraser', 'Pencil Box', 'Scale']
      Price= [5, 10, 2, 20, 12]  
      Brand = ['Camlin', 'Rotomac', 'Nataraj', 'Camel', 'Apsara']

Q-17)write a code to add “Notebook” as the first element inside the first level of the list “Stationery” is:-

Q-18) write a code to replace the element of Brand, “Camel” with “Camlin” inside the list is:-

Q-19) The list "Months" is defined as:-

       Months = ['Jan', 'Mar', 'June', 'Aug', 'June', 'Feb', 'Nov', 'Dec', 'June', 'Apr', 'May',     'June']

       Write a code which returns the number of occurrences of ‘June’?

Q-20) Given the variables:**

planet = "Earth"
diameter = 12742
** Use .format() to print the following string: **

The diameter of Earth is 12742 kilometers.

Q-21)Given this nested list, use indexing to grab the word "hello"
lst = [1,2,[3,4],[5,[100,200,['hello',1000]],23,11],1,7]

Q-22) Given this nested dictionary grab the word "hello".
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

Q-23) convert this string into a list but output of list should be in words not in alphabets.
s = "Hi there Sam!"

Q-24) Write a code to extract the number at the end of the line below and also Convert the extracted value to a floating point number.

text = "X-DSPAM-Confidence:    0.8475";

Q-25) a=(1,5,6,7,8,"datascience")

replace "datascience" to "deeplearning"